Slack/**/*
Authy\ Desktop/**/*
Thunar/**/*
htop/**/*
configstore/**/*
dconf/**/*
lazygit/**/*
neofetch/**/*
pulse/**/*
systemd/**/*
xfce4/**/*
trizen/**/*
teamviewer/**/*
vlc/**/*
rncbc.org/**/*
pgadmin/**/*
pavucontrol.ini
obs-studio/**/*
Postman/**/*
appimagelauncher.cfg
cni/**/*
QtProject.conf
Altair GraphQL Client/**/*
mimeapps.list
